.Container {
  height: 100vh;
  display: grid;
  grid-template-columns: 120px auto 200px;
  grid-template-rows: 70px auto;
  grid-template-areas:
    'navBar toolBar sideBar'
    'navBar mainView sideBar';
}

.NavBar {
  grid-area: navBar;
  background-color: #1b1a1a;
}

.ToolBar {
  grid-area: toolBar;
  background: linear-gradient(
    to bottom,
    #101010 20%,
    #1b1a1a 60%,
    #1f1f1f 100%
  );
}
.mainView {
  grid-area: mainView;
  background-color: #1f1f1f;
  overflow: auto;
}
.sideBar {
  flex-direction: column;
  grid-area: sideBar;
  background-color: #1b1a1a;
  overflow: auto;
}
