.Person {
  width: 70px;
  margin: 5px 20px 5px 20px;
  cursor: pointer;
}

.Person img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.Person h5 {
  color: #a0a0a0;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

