.ToolBar {
  display: flex;
  margin: 28px 0 6px 0;
  padding: 0 15px 3px 15px;
  align-items: flex-end;
}
.SearchIcon {
  font-family: 'photon-entypo';
  color: #ffffff;
  font-size: 13px;
  margin-left: 5px;
  border-bottom: 1px solid #e2e2e2;
  padding: 4px 0 2px 5px;
  line-height: 1.6;
}

.SearchIcon::before {
  content: '\E803';
}
